atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
idna==2.7
more-itertools==8.6.0
pluggy==0.13.1
py==1.10.0
pytest==4.0.1
requests==2.20.1
six==1.15.0
soupsieve==2.1
urllib3==1.24.3
